body {
    position: relative;
}

.adBanner {
    background-color: transparent;
    height: 1px;
    width: 1px;
}

form {
    padding: 20px;
    position: relative;
    z-index: 10;
}
#search-results {
    position: absolute;
    margin-top: -0.8rem;
}
/*
#search-results a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
}
*/
li.list-group-item {
    padding: 0.2rem 1.5rem 0.2rem 1.5rem;
}
#content {
    padding: 20px;
}

#codeInput {
    margin-right: 5px;
}
.sections {
    margin: 20px 0px 20px 0px;
}

tr {
    line-height: inherit;
}

.table {
    table-layout: fixed;
}

.table td {
    padding: .2rem;
}

.table td:not(.end) {
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
}

.table td:not(.table-line) {
    border-top: none;
}

.table td.table-line-big, .table th {
    border-top: 1.2px solid #aaaeb1;
}

.table thead th {
    border-top: none;
}

div.tt-buttons {
    margin: 1.25rem;
}

.dynamic {
    display: none;
}

td h1 {
    margin-bottom: 0;
    font-size: 0.8rem;
}

td p {
    margin-bottom: 0;
    font-size: 0.6rem;
}

tbody tr th {
    width: 15%;
}
tbody tr td {
    width: 20% !important;
}

@media only screen and (max-width: 850px) {
    #timetable {
        width: 800px;
    }
    .course-tt {
        width: 850px;
    }
    div#top.card {
        margin: 1.25rem;
        padding: 0.5rem;
    }
}