<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Primary Meta Tags -->
    <title>UTable Alpha</title>
    <meta name="title" content="UTable Alpha">
    <meta name="description" content="Timetable generator for all UWindsor Students!
    ">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://utable.net/">
    <meta property="og:title" content="UTable Alpha">
    <meta property="og:description" content="Timetable generator for all UWindsor Students!
    ">
    <meta property="og:image" content="{{ url_for('static', filename='img/uwinlogo.png') }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://utable.net/">
    <meta property="twitter:title" content="UTable Alpha">
    <meta property="twitter:description" content="Timetable generator for all UWindsor Students!
    ">
    <meta property="twitter:image" content="{{ url_for('static', filename='img/uwinlogo.png') }}">
    <script src="{{ url_for('static', filename='js/lib/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/debug.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/eventListeners.js') }}"></script>
    <!--Bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--google adsense-->
    <script data-ad-client="ca-pub-3318480707867091" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- google analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167618098-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-167618098-1');
    </script>


    <!--fuse js fuzzy string search-->
    <script src="{{ url_for('static', filename='js/lib/fuse.js@6.0.0') }}"></script>

    <!-- html2canvas -->
    <script type="module" src="{{ url_for('static', filename='js/lib/html2canvas.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap-social.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="javascript:void(0);" class="navbar-brand">UTable Alpha</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Timetable<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/bachittle/uwindsor-timetable-demo" target="_blank">Github</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="dynamic alert alert-info alert-dismissable fade show" id="top-alert"></div>
    <div class="dynamic" id="search"></div>
    <div class="dynamic alert alert-danger" id="error"></div>
    <div class="dynamic" id="content"></div>
    <!-- Modal -->
    <div class="modal fade" id="modalLong" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
<!--
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
-->
        </div>
        </div>
    </div>
    </div>
</body>
</html>