<div class="card card-body">
    <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Sunday</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
        <th scope="col">Saturday</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">8:00AM</th>
        <td style="background-color: black; color: white;">fat</td>
        <td>Larry</td>
        </tr>
        <tr>
        <th scope="row">8:30AM</th>
        </tr>
        <tr>
        <th scope="row">9:00AM</th>
        </tr>
        <tr>
        <th scope="row">9:30AM</th>
        </tr>
        <tr>
        <th scope="row">10:00AM</th>
        </tr>
        <tr>
        <th scope="row">10:30AM</th>
        </tr>
        <tr>
        <th scope="row">11:00AM</th>
        </tr>
        <tr>
        <th scope="row">11:30AM</th>
        </tr>
        <tr>
        <th scope="row">12:00PM</th>
        </tr>
        <tr>
        <th scope="row">12:30PM</th>
        </tr>
        <tr>
        <th scope="row">1:00PM</th>
        </tr>
        <tr>
        <th scope="row">1:30PM</th>
        </tr>
        <tr>
        <th scope="row">2:00PM</th>
        </tr>
        <tr>
        <th scope="row">2:30PM</th>
        </tr>
        <tr>
        <th scope="row">3:00PM</th>
        </tr>
        <tr>
        <th scope="row">3:30PM</th>
        </tr>
        <tr>
        <th scope="row">4:00PM</th>
        </tr>
        <tr>
        <th scope="row">4:30PM</th>
        </tr>
        <tr>
        <th scope="row">5:00PM</th>
        </tr>
        <tr>
        <th scope="row">5:30PM</th>
        </tr>
        <tr>
        <th scope="row">6:00PM</th>
        </tr>
        <tr>
        <th scope="row">6:30PM</th>
        </tr>
        <tr>
        <th scope="row">7:00PM</th>
        </tr>
        <tr>
        <th scope="row">7:30PM</th>
        </tr>
        <tr>
        <th scope="row">8:00PM</th>
        </tr>
        <tr>
        <th scope="row">8:30PM</th>
        </tr>
        <tr>
        <th scope="row">9:00PM</th>
        </tr>
        <tr>
        <th scope="row">9:30PM</th>
        </tr>
        <tr>
        <th scope="row">10:00PM</th>
        </tr>
    </tbody>
    </table>
</div>